@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-grdt: linear-gradient(160deg, #a278fb 15%, #3cb3fd 40%, #1feac4 60%);
    --main-white: #fff;
    --main-darkblue: #445671;
    --main-blue: #3CB3FD;
    --main-white-blue: #69788F
}
body{
    overflow: hidden;
    box-sizing: border-box;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color: var(--main-white);
    scroll-behavior: smooth;
}
/* Edit side nav bloc */
#side-nav{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    margin-top: 25rem;
    margin-left: 3rem;
    width: 10rem;
    z-index: 3;
}
/*Edit accueil bloc*/
.accueil-container{
    background-image: url("../resources/bg-accueil-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-darkblue);
    height: 100vh;
}
/* Edit nav */
.nav-box{
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.logoAmpitao,.logo{
    width: 20rem;
}
.nav-bar{
    display: flex;
    justify-content: center;
    flex-grow: 2;
    z-index: 4;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-transform: uppercase;
}
li.nav-link{
    list-style:none;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
    color: var(--main-white);
}
a:visited{
    color: var(--main-white);
}
/* Edit Accueil box */
.accueil-box{
    
    height: 100vh;
}
/* Edit content accueil */
.content-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    z-index: 2;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35rem;
}
.ampitao{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1.5rem;
}
.social-media{
    height: 10rem;
    font-size: 1.5rem;
    margin-right: 5%;
    z-index: 2;
}
.icon-media{
    margin: 1.2rem 0;
}
.mouse-portfolio{
    width: 20px;
    margin-top: 10rem;
}
.plus{
    margin-top: 1.5rem;
    font-size: 0.6rem;
}
.plus::before{
    content: "";
    display: block;
    width: 200%;
    height: 2px;
    background-color:var(--main-blue);
    margin-bottom: 1.5rem;
    border-radius: 2px;
}
.fa-arrow-right{
    color: var(--main-blue);
}
.lettreA {
    font-size: 50rem;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--main-grdt);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50%;
    width: 90rem;
}
/* Edit Portfolio bloc */
.portfolio-container{
    background-image: url("../resources/bg-the-hiena.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.section-title{
    font-size: 15vh;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: var(--main-white-blue) 1px;
}
.portfolio-title::before{
    content: attr(data-text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 111%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9vh;
    letter-spacing: 2.5rem;
    color: var(--main-darkblue);
    -webkit-text-stroke: var(--main-white-blue) 0px;
}
.portfolio-contents{ 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img{
    margin-top: 5rem;
    width: 50rem;
}
.informations{
    margin-left: 5rem;
    margin-top: 5rem;
    align-self: flex-start;
    color: var(--main-darkblue);
}
.mouse-up{
    position: relative;
    width: 20px;
    top: -59%;
    right: -94%;
}
.mouse-down{
    position: relative;
    width: 20px;
    top: 0%;
    right: -94%;
}
/* Edit Contact box */
.contact-container{
    background-image: url("../resources/bg-accueil-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.contact-title::before{
    content: attr(data-text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 211%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9vh;
    letter-spacing: 2rem;
    color: var(--main-white);
    -webkit-text-stroke: var(--main-white-blue)0px;
}
.contact-contents-box{display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40rem;
    height: 50vh;
}
.contact-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
    padding-left: 25%;
}
.contact-info-box{
    display: flex;
    align-items: flex-start;
}
.icon-contact{
    background: var(--main-grdt) ;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5rem;
    font-size: 2rem;
}
.mouse-up-portfolio{
    position: absolute;
    width: 20px;
    margin-top: -10rem;
}